
[data-theme='dark']{
  --font-color: white;
  --bg-color: rgb(20, 20, 20);
  --h-color:#F0DBDB;
  --a-color:#DBA39A;
  --b-shadow-color: 0px 15px 35px rgba(255, 255, 255, 0.06);
  --b-border-color:1px solid rgba(90, 90, 90, 0.8);
}
[data-theme='light'] {
  --bg-color: white;
  --font-color: black;
  --h-color:#F0DBDB;
  --a-color:#DBA39A;
  --b-shadow-color:0px 15px 35px rgba(0, 0, 0, 0.06);
  --b-border-color:1px solid rgba(0, 0, 0, 0.8);


}
*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.sideProfile{
    width: 30vw;
    height:100vh;
    
    text-align: center;
    background-image: url("res/photo-1553748024-d1b27fb3f960.jpg");
    background-position: center center;
    background-size: cover;
    transition: 0.4ms ease-in-out;
}
.avatar{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    padding:50px;
}
.userName, .career, li, p{
    width: 100%;
    color:white;
    padding:10px;
    text-shadow:1px 1px 2px black;
    font-weight: bold;

}
.userName{
    font-size: 32px;
    text-decoration: none;
}
.info{
    width: 100%;
    height: 30%;
    text-align: left;
    padding-top: 100px;
    margin-left: 50px;
    list-style-type: none;
}
i{
    padding-right:15px;
}
.career{
    padding:40px 0;
    font-size: 38px;
}
.copyright{
  max-width: fit-content;
    position:absolute;
    bottom:20px;
    left:40px;
}
.contentWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.topnav{
    overflow: hidden;
    width: 70vw;
    height:10vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top:25px;
}

.topnav a {
    color: var(--font-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 38px;
    
  }
.topnav .mode-toggle{
  font-size:large;
  cursor: pointer;
  color:var(--font-color);
}
  
  /* Change the color of links on hover */
  .topnav a:hover {
    
    color: var(--h-color);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    
    color: var(--a-color);
  }

  main{
    flex-grow: 1; /* Allow the main section to grow and take up remaining space */
    margin: 30px; /* Add some spacing to the main content */
    
    color:var(--font-color);
  }
  
    
  main h1{
    font-size: 50px;
  }
  main .title{
    text-align: none;
    margin: 50px 100px;
  }
  .hidden {
    display: none;
  }
  /* Corrected CSS for hamburger toggle */
.hamburger-toggle {
  color: var(--font-color);
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1001; /* Ensure the hamburger toggle appears above the side profile */
}

/*RESPONSIVE DESIGN */
 
/* Add media queries for breakpoints */
@media only screen and (max-width: 1200px) {
  /* Decrease font size for smaller screens */
  body {
    font-size: 16px;
  }
  main h1 {
    font-size: 36px; /* Decrease heading font size */
  }
  main h3 {
    font-size: 14px; /* Decrease paragraph font size */
  }
  .topnav a{
    font-size:24px;
  }
  
}

@media (max-width: 1024px) {
  /* Hide side profile and show toggle button */
  .sideProfile {
    display: none;
  }
  .contentWrapper {
    padding-top: 60px; /* Add padding for toggle button */
  }
  .topnav {
    position: relative; /* Position toggle button */
  }
  .hamburger-toggle {
    display: block;

    position: absolute;
    top: 10px;
    right: 10px;
  }
  /* Reposition navigation below career class */
  main {
    margin: 30px 30px 0; /* Adjust top margin */
  }
  /* Hide navigation */
  .topnav {
    display: none;
  }
  
}



/* Additional styles for side profile toggle */
#profileToggle:checked ~ .sideProfile {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);

  overflow-y: auto;
}

#profileToggle:checked ~  .sideProfile .info {
  display: none; /* Hide the info list */
}
/* New CSS for avatar container */
#profileToggle:checked ~  .sideProfile .avatar-container {
  text-align: center;
  padding: 20px;
}

/* New CSS for avatar and user info */
#profileToggle:checked ~  .sideProfile .avatar-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#profileToggle:checked ~  .sideProfile .userName,
#profileToggle:checked ~ .sideProfile .career {
  font-size: 24px;
  padding: 5px;
}
#profileToggle:checked ~.contentWrapper > .topnav {
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px; /* Add spacing from the career text */
  z-index: 1000;
  height: 50vh;
  color:white;
}
