
.socials{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
    margin-top: 50px;
}
.socials div{
    height: 100%;
    width: 125px;
    margin:auto;
}
a{
    font-size: 32px;
}
.socials .secondRow{
    padding-top:75px;

}

.socials div:nth-of-type(1) {
    fill: #ff0000; /* youtube */
}
.socials div:nth-of-type(3){
    fill : #6441A4; /*twitch*/
}
.socials div svg{
    transition: 0.3s;
}
.socials div svg:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 876px){
    .socials{
        grid-template-columns: 1fr 1fr;
    }
}