
.socials{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
    margin-top: 50px;
}
.socials a{
    height: 100%;
    width: 50%;
    margin:auto;
    text-decoration: none;
}
.socials p{
    font-size: 32px;
    width: fit-content;
    display: block;
    margin:20px auto;
    color:var(--font-color);
    text-decoration: none;
}
.socials img{
    width: 80%;
    transition: 0.3s;
    display: block;
    padding:0;
    margin:auto;
}
#discord{
    margin-top: 55px;
}

.socials a img:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 876px){
    .socials{
        grid-template-columns: 1fr 1fr;
    }
}